---
language: node_js
cache:
  directories:
    - node_modules


jobs:
  include:
    - script: yarn test-ci
    # Define the release stage that runs semantic-release
    - stage: release
      # Advanced: optionally overwrite your default `script` step to skip the tests
      # script: skip
      deploy:
        provider: script
        skip_cleanup: true
        script:
          - npx semantic-release
